<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Mancala Game !</title>
</head>
<body>
<div class="container">

    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Currently Playing: </div>
        <div class="card-body">
            <p th:text=${turn} class="card-text current_player"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div th:if="${error}" class="alert alert-warning" role="alert">
                <p th:text="${error}"></p>
            </div>

            <div class="row" th:classappend="${#strings.equals(turn, 'PLAYER1') ? 'alert alert-secondary' : 'alert alert-primary'}">

                <div class="col-md-1"
                     th:each="item: ${p2board}"
                     th:if="${#strings.equalsIgnoreCase(item.type, 'BIG')}">
                    <button th:text="${item.stones}" type="button" class="btn btn-light disabled border border-primary"></button>
                </div>
                <div class="col-md-1"
                     th:each="item: ${p2board}"
                     th:if="${#strings.equalsIgnoreCase(item.type, 'SMALL')}">
                    <form th:if="${#strings.equals(turn, 'PLAYER2')}" action="#" th:action="@{/}" method="post">
                        <input type="hidden" name="id" th:value="${item.id}"/>
                        <input type="hidden" name="type" th:value="${item.type}"/>
                        <input type="hidden" name="owner`" th:value="${item.owner}"/>
                        <input type="submit" th:value="${item.stones}" />
                    </form>
                    <div th:if="${!#strings.equals(turn, 'PLAYER2')}">
                        <span th:text="${item.stones}"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <p>Player 2</p>
                </div>

            </div>


            <div class="row" th:classappend="${#strings.equals(turn, 'PLAYER1') ? 'alert alert-primary' : 'alert alert-secondary'}">

                <div class="col-md-1"
                     th:each="item: ${p1board}"
                     th:if="${#strings.equalsIgnoreCase(item.type, 'SMALL')}">
                    <form th:if="${#strings.equals(turn, 'PLAYER1')}" action="#" th:action="@{/}" method="post">
                        <input type="hidden" name="id" th:value="${item.id}"/>
                        <input type="hidden" name="type" th:value="${item.type}"/>
                        <input type="hidden" name="owner`" th:value="${item.owner}"/>
                        <input type="submit" th:value="${item.stones}" />
                    </form>
                    <div th:if="${!#strings.equals(turn, 'PLAYER1')}" th:text="${item.stones}"></div>
                </div>

                <div class="col-md-1"
                     th:each="item: ${p1board}"
                     th:if="${#strings.equalsIgnoreCase(item.type, 'BIG')}">
                    <button th:text="${item.stones}" type="button" class="btn btn-light disabled border border-primary"></button>
                </div>
                <div class="col-md-1">
                    <p>Player 1</p>
                </div>
            </div>
        </div>
        <div>
            <a href="/score">Score page</a>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>